{% for categorie in categories %}
    <li class="dropdown-item">
        <a  href="{{ path('categorieProduits', { 'categorie' : categorie.id }) }}">{{ categorie.getDesignationC() }}</a>
    </li>
{% endfor %}
