{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div style="margin-top:14em;">
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
</div>
{% endblock fos_user_content %}
